.editor {
    position: relative;
    background: #29292c;
    font-family: monospace, serif;
    color: #c9c9c9;
    display: flex;
    user-select: none;
    overflow: hidden;
}

.lines {
    text-align: center;
    height: max-content;
}

.lines > div {
    padding-left: 10px;
    padding-right: 10px;
    background: #37373a;
    min-height: 19px !important;
}

.line {
    height: 19px;
    width: min-content;
    display: flex;
}

.code {
    width: 100%;
    height: max-content;
    min-height: 100%;
    white-space: nowrap;
    cursor: text;
}

.cursor {
    pointer-events: none;
    background: white;
    width: 1px;
    height: 16px;
    position: relative;
}

.selection {
    pointer-events: none;
}

.selection > div {
    background: rgba(255, 255, 255, 0.3);
    height: 19px;
    position: absolute;
}

.scroll-x {
    position: absolute;
    bottom: 5px;
    left: 5px;
    width: calc(100% - 20px);
    height: 10px;
    background: #a4a4a4;
    border-radius: 10px;
}

.scroll-x-p {
    position: absolute;
    height: 10px;
    background: #727272;
    border-radius: 10px;
    cursor: grab;
}

.scroll-x-p:hover {
    background: #4d4d4d;
}

.scroll-y {
    position: absolute;
    right: 5px;
    top: 5px;
    width: 10px;
    height: calc(100% - 20px);
    background: #a4a4a4;
    border-radius: 10px;
}

.scroll-y-p {
    position: absolute;
    width: 10px;
    background: #727272;
    opacity: 0.8;
    border-radius: 10px;
    cursor: grab;
}

.scroll-y-p:hover {
    background: #4d4d4d;
}

.blink {
    animation-name: blink;
    animation-delay: 0.5s;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}